<div class="row">
  <div class="customer">
    <a routerLink="/customer"><h1>Customer</h1></a>
    <button mat-flat-button color="primary">Opportunity</button>
    <button mat-flat-button color="primary">Stakeholders</button>
    <button mat-mini-fab (click)="add_project()">+</button>
  </div>
</div>
<div class="row">
  <div class="solution">
    <a routerLink="/solution"><h1>Solution</h1></a>
  </div>

  <div class="endeavor">
    <a routerLink="/endeavor"><h1>Endeavor</h1></a>
    <button mat-flat-button >Work</button>
    <button mat-flat-button color="primary">Team</button>
    <button mat-flat-button color="primary">Way of Working</button>
  </div>
</div>
