.endeavor-content {
  border: 2px solid black;
}
.grid-container-endeavor {
  display: grid;
  grid-template-areas:
    'work team wow'
    'work team wow'
    'work team wow';
  grid-gap: 1px;
  background-color: #dc9fff;
  padding: 1px;
  grid-template-columns: 33% 33% 33%;
}

.work {
  grid-area: work;
}

.team {
  grid-area: team;
}

.wow {
  grid-area: wow;
}

.link {
  cursor: pointer;
}
