<div class="endeavor">
  <a role="button" (click)="endea = !endea" class="link"> <h1>Endeavor</h1></a>
    {{ endeavor.description }} <br>
<div *ngIf="endea" class="grid-container-endeavor">
  <div class="team">
    <div class="endeavor-content">
      <p>Team</p>
      <div *ngIf="dataSource.team !== undefined; else no_team">
          <p>{{ dataSource.team.description }}</p><br>
          <app-team [team]="dataSource.team">
          </app-team>
      </div>
    </div>
    <ng-template #no_team>No Team added for this Endeavor
      <button mat-stroked-button (click)="addTeam()">+Team</button>
    </ng-template>
  </div>
  <div class="work">
    <div class="endeavor-content">
      <div *ngIf="dataSource.work !== undefined; else no_work">
          <p>{{ dataSource.work.description }}</p><br>
        <app-work [work]="dataSource.work">
        </app-work>
      </div>
    </div>
    <ng-template #no_work>No work added for this Endeavor
      <button mat-stroked-button (click)="addWork()">+Work</button>
    </ng-template>
  </div>
  <div class="wow">
  <div class="endeavor-content">
    <div *ngIf="dataSource.wayofwork !== undefined; else no_wow">
        <p>{{ dataSource.wayofwork.description }}</p><br>
      <app-wayofwork [wow]="dataSource.wayofwork">
      </app-wayofwork>
    </div>
  </div>
  <ng-template #no_wow>No wayofwork added for this Endeavor
    <button mat-stroked-button (click)="addWoW()">+WayofWork</button>
  </ng-template>
  </div>
</div>
</div>
