<div class="endeavor">
  <h1>Endeavor</h1>
    {{ endeavor.description }} <br>
    <button mat-stroked-button (click)="showWork()">
      Work
    </button>
    <button mat-stroked-button (click)="showTeam()">
      Team
    </button>
    <button mat-stroked-button (click)="showWoW()">
      Way of Work
    </button>
    <button class="hide" mat-stroked-button (click)="hideCards()">
      Hide Cards
    </button>
    <div *ngIf="team && !work && !wayofwork">
      <div *ngIf="dataSource.team !== undefined; else no_team">
          <p>{{ dataSource.team.description }}</p><br>
          <app-team [team]="dataSource.team">
          </app-team>
      </div>
    </div>
    <ng-template #no_team>No Team added for this Endeavor
      <button mat-stroked-button (click)="addTeam()">+Team</button>
    </ng-template>
    <div *ngIf="work && !team && !wayofwork">
      <div *ngIf="dataSource.work !== undefined; else no_work">
          <p>{{ dataSource.work.description }}</p><br>
        <app-work [work]="dataSource.work">
        </app-work>
      </div>
    </div>
    <ng-template #no_work>No work added for this Endeavor
      <button mat-stroked-button (click)="addWork()">+Work</button>
    </ng-template>
  <div *ngIf="wayofwork && !team && !work">
    <div *ngIf="dataSource.wayofwork !== undefined; else no_wow">
        <p>{{ dataSource.wayofwork.description }}</p><br>
      <app-wayofwork [wow]="dataSource.wayofwork">
      </app-wayofwork>
    </div>
  </div>
  <ng-template #no_wow>No wayofwork added for this Endeavor
    <button mat-stroked-button (click)="addWoW()">+WayofWork</button>
  </ng-template>
</div>
