.solution-content {
  border: 2px solid black;
}
.grid-container-solution {
  display: grid;
  grid-template-areas:
    'req sos'
    'req sos'
    'req sos';
  grid-gap: 1px;
  background-color: #fcff93;
  padding: 1px;
  grid-template-columns: 50% 50%;
}

.req {
  grid-area: req;
}

.sos {
  grid-area: sos;
}

.link {
  cursor: pointer;
}
