.a {
  color: #c2c5be;
}
.a:visited {
  color: #c2c5be;
}

.mat-stroked-button {
  background-color: #a295a8;
  color: #2d2e24;
  width: 75px;
  text-align: left;
  padding-right: 100px;
  border-radius: 10px 10px 10px 10px;
}

.nav-button {
  color: #a295a8;
  background-color: #674a79;
  margin: 1px;
  width: 64px;
  text-align: left;
  padding-right: 80px;
  border-radius: 2px 2px 2px 2px;
}

.nav-button:hover {
  background-color: white;
  color: black;
}

.nav-content {
  position: relative;
  padding-left: 20px;
}

.nav-content-buttons {
  position: relative;
  padding-left: 20px;
  margin: 1px;
  border-left: 1px solid #a295a8;
  width: 50px;
  text-align: left;
}

.addProject-button {
  color: lightgreen;
  background-color: darkslategrey;
}

.addProject-button:hover {
  background-color: white;
  color: black;
}
