.a {
  color: #c2c5be;
}
.a:visited {
  color: #c2c5be;
}

.mat-stroked-button {
  background-color: #a295a8;
  color: #2d2e24;
}

.nav-button {
  color: #a295a8;
  background-color: #674a79;
  margin: 5px;
}

.nav-content {
  position: relative;
  padding-left: 20px;
}

.nav-content-buttons {
  position: relative;
  padding-left: 30px;
  margin: 5px;
  border-left: 3px solid #a295a8;
}

.log {
  position: relative;
  padding-left: 10px;
}
