<div class="customer">
  <h1>Customer</h1>
    {{ customer.description }} <br>
  <button mat-stroked-button (click)="showOpportunity()">
    Opportunity
  </button>
  <button mat-stroked-button (click)="showStakeholders()">
    Stakeholders
  </button>
  <button class="hide" mat-stroked-button (click)="hideCards()">
    Hide Cards
  </button>
    <div *ngIf="opportunity && !stakeholders">
    <div *ngIf="oppor !== undefined; else no_opportunity">
        <p>{{ oppor.description }}</p><br>
      <app-opportunity [oppo]="oppor">
      </app-opportunity>
    </div>
  </div>
  <ng-template #no_opportunity>No Opportunity added for this Customer
    <button mat-stroked-button (click)="addOpportunity()">+Opportunity</button>
  </ng-template>
  <div *ngIf="stakeholders && !opportunity">
    <div *ngIf="stakehol !== undefined; else no_stakeholders">
        <p>{{ stakehol.description }}</p><br>
      <app-stakeholders [stake]="stakehol">
      </app-stakeholders>
    </div>
  </div>
  <ng-template #no_stakeholders>No stakeholders added for this Customer
    <button mat-stroked-button (click)="addStakeholders()">+Stakeholders</button>
  </ng-template>
</div>
