<div class="row">
  <div class="customer">
    <div *ngIf="dataSource._customer !== undefined; else nocustomer_content">
     <app-customer [customer]="customer">
     </app-customer>
    </div>

    <ng-template #nocustomer_content>No Customer for this Project
      <button mat-stroked-button (click)="add_customer()">+Customer</button>

    </ng-template>
  </div>
</div>
<div class="row">
  <div class="solution">
   <div *ngIf="dataSource._solution !== undefined; else nosolution_content">
     <app-solution [solution]="solution">
     </app-solution>
   </div>

    <ng-template #nosolution_content>No Solution for this Project
      <button mat-stroked-button (click)="add_solution()">+Solution</button>

    </ng-template>

  </div>

  <div class="endeavor">
    <div *ngIf="dataSource._endeavor !== undefined; else noendeavor_content">
      <app-endeavor [endeavor]="endeavor">
      </app-endeavor>
    </div>

    <ng-template #noendeavor_content>No Endeavor for this Project
      <button mat-stroked-button (click)="add_endeavor()">+Endeavor</button>

    </ng-template>

  </div>
</div>
