// Div
.row:after {
  background-color: #332f35;
  content: "";
  display: table;
  clear: both;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle middle'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  background-color: #332f35;
  padding: 1px;
  grid-template-rows: 10% auto 150px;
  grid-template-columns: 200px auto;
}
.header {
  grid-area: header;
  text-align: center;
  background-color: #332f35;
}
.middle {
  grid-area: middle;
  background-color: #332f35;
}
.left {
  background-color: #332f35;
  grid-area: left;
}

.right {
  grid-area: right;
  background-color: #332f35;
}
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #332f35;
}

body {
  font-family: Arial;
  background-color: #332f35;
}

