// Div
.row:after {
  background-color: #332f35;
  content: "";
  display: table;
  clear: both;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  background-color: #332f35;
  padding: 1px;
  grid-template-rows: 10% auto 150px;
}
.header {
  grid-area: header;
  text-align: center;
  background-color: #332f35;
}
.middle {
  grid-area: middle;
  background-color: #332f35;
  //width: 70%;
  //float: top;
}
.left {
  background-color: #332f35;
  grid-area: left;
  //width: 15%;
  //float: left;
  //padding-bottom: 1px;
}

.right {
  grid-area: right;
  //float: left;
  background-color: #332f35;
  //width: 15%;
  //padding-bottom: 1px;
}
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #332f35;
}
// Content
.customer {
  height: 30%;
  background-color: #aaff07;
}
.endeavor {
  height: 30%;
  background-color: #dc9fff;
}
.solution {
  height: 30%;
  background-color: #fcff93;
}

body {
  font-family: Arial;
  background-color: #332f35;
}
