<div *ngIf="dataSource.cards !== undefined; else other_content">
  <div class="content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of dataSource.cards" fxFlexFill>
      <app-card [card]="card" [color]="'endeavor-card'">
      </app-card>
    </div>
  </div>
</div>
<button mat-stroked-button (click)="add_card()">+Card</button>
<ng-template #other_content>No cards for this requirements.

</ng-template>
