<div style="text-align:center">
  <h1>
    Signup
  </h1>
</div>
<input mat-input #username type='text' placeholder='username'>
<input mat-input #email type='text' placeholder='email'>
<input mat-input #password1 type='password' placeholder='password1'>
<input mat-input #password2 type='password' placeholder='password2'>
<button mat-stroked-button (click)="signup(username.value, email.value, password1.value, password2.value)">Signup</button>
<p>{{ error?.message }}</p>
<p *ngIf="error">{{ error?.error | json }}</p>
